<h1>My tasks</h1>

<ul style="list-style-type: none;">
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag 'task_ids[]', task.id %>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>
